<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Collaboration Page ----------------------------------------->
<!--------------------------------------------------------------------------------------------------->
{% load static %}
<section class="meetCouncilBlock position-relative pt-7 pt-md-9 pt-lg-14 pt-xl-20 pb-6">
    <div class="container">
        <header class="headingHead text-center cdTitle mb-7 mb-md-13">
            <h2 class="fwSemiBold mb-4">OUR AFFILIATION & COLLABORATION</h2>
        </header>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <article class="mccColumn bg-white shadow mb-6 mx-auto mx-sm-0">
                    <div class="imgHolder position-relative">
                        <img src="{% static 'main/images/homepage/8.png' %}" class="img-fluid d-block w-100"
                            alt="image description">
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <article class="mccColumn bg-white shadow mb-6 mx-auto mx-sm-0">
                    <div class="imgHolder position-relative">
                        <img src="{% static 'main/images/homepage/9.png' %}" class="img-fluid d-block w-100"
                            alt="image description">
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <article class="mccColumn bg-white shadow mb-6 mx-auto mx-sm-0">
                    <div class="imgHolder position-relative">
                        <img src="{% static 'main/images/homepage/10.png' %}" class="img-fluid d-block w-100"
                            alt="image description">
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <article class="mccColumn bg-white shadow mb-6 mx-auto mx-sm-0">
                    <div class="imgHolder position-relative">
                        <img src="{% static 'main/images/homepage/11.png' %}" class="img-fluid d-block w-100"
                            alt="image description">
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <article class="mccColumn bg-white shadow mb-6 mx-auto mx-sm-0">
                    <div class="imgHolder position-relative">
                        <img src="{% static 'main/images/homepage/12.png' %}" class="img-fluid d-block w-100"
                            alt="image description">
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <article class="mccColumn bg-white shadow mb-6 mx-auto mx-sm-0">
                    <div class="imgHolder position-relative">
                        <img src="{% static 'main/images/homepage/13.png' %}" class="img-fluid d-block w-100"
                            alt="image description">
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <article class="mccColumn bg-white shadow mb-6 mx-auto mx-sm-0">
                    <div class="imgHolder position-relative">
                        <img src="{% static 'main/images/homepage/14.png' %}" class="img-fluid d-block w-100"
                            alt="image description">
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <article class="mccColumn bg-white shadow mb-6 mx-auto mx-sm-0">
                    <div class="imgHolder position-relative">
                        <img src="{% static 'main/images/homepage/15.png' %}" class="img-fluid d-block w-100"
                            alt="image description">
                    </div>
                </article>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <article class="mccColumn bg-white shadow mb-6 mx-auto mx-sm-0">
                    <div class="imgHolder position-relative">
                        <img src="{% static 'main/images/homepage/16.png' %}" class="img-fluid d-block w-100"
                            alt="image description">
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>