<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Contact Page ----------------------------------------------->
<!--------------------------------------------------------------------------------------------------->
{% extends 'Main/base.html' %}
{% block main_content %}
{% load static %}
<div class="phStickyWrap">
    {% include 'Main/header.html' %}
</div>
<header class="headingHead text-center mb-12 mt-25" id="contact_us">
    <h2 class="fwSemiBold pb-10">Contact Us</h2>
    <h3>Chairman/Chairperson</h3>
    <h3>Youth Employability Skill Training</h3>
    <p class="card-text" style="color: rgb(0, 0, 0);">Email:officer@nationalyouthprogramme.in
    </p>
    <p class="card-text" style="color: rgb(0, 0, 0);">KERALA & KARNATAKA ZONE
    </p>


    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;"></div>
        <div style="width: 30px; height: 3px; background-color: #3446CD;"></div>
    </div>
</header>


<div class="contactSectionWrap pt-7 pb-2 pt-md-10 pb-md-1 pt-lg-16 pb-lg-10 pt-xl-21 pb-xl-16">
    <div class="container">
        <div class="row">


            <div class="col-12 col-md-6 col-xl-6 d-flex align-items-stretch mb-5">
                <!-- Card on the right side -->
                <div class="card text-center w-100">
                    <div class="card-body pt-5" style="background-color: #ffffff;">
                        <h4 class="card-title" style="color: rgb(0, 0, 0);">DIRECTOR/DEPUTY DIRECTOR
                        </h4>
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <div style="width: 100px; height: 3px; background-color: #ffffff; margin-bottom: 10px;">
                            </div>
                            <div style="width: 30px; height: 3px; background-color: #ffffff; margin-bottom: 25px;">
                            </div>
                        </div>
                        <p class="card-text" style="color: rgb(0, 0, 0);">YOUTH
                            EMPLOYABILITY SKILL
                            TRAINING -
                            MSCS
                            Act
                        </p>
                        <p class="card-text" style="color: rgb(0, 0, 0);">686A,IndiraPark,Main Road
                            palam,New Delhi 45
                        </p>
                        <p class="card-text" style="color: rgb(0, 0, 0);">Email:Nationalyouthprogramme.in
                        </p>
                        <h5 class="card-title" style="color: rgb(255, 255, 255);">NATIONAL
                            YOUTH PROGRAMME
                            PROJECT
                            REGIONAL
                            OFFICE
                        </h5>
                        <h5 class="card-title" style="color: rgb(255, 255, 255);">AUTONOMOUS
                            INSTITUITION
                        </h5>
                        <!---->
                        <!--h5 class="card-title pt-3 pl-10 pr-10" style="color: yellow;">UNDER
                            THE AEGIS MINISTRY
                            OF
                            CO-OPERATION
                            GOVERNMENT OF INDIA
                            </h5>-->
                        <!--<h3 class="card-title pt-2 pl-10 pr-10" style="color: yellow;">मुख्य
                            कार्यकारी अधिकारी
                            का कार्यालय
                            </h3> -->
                        <p class="card-text" style="color: rgb(255, 255, 255);">युवा रोजगार
                            कौशल प्रशिक्षण (एम
                            एस सी एस अधिनियम)
                        </p>
                        <p class="card-text" style="color: rgb(255, 255, 255);">राष्ट्रीय
                            युवा कार्यक्रम
                            परियोजना क्षेत्रीय कार्यालय (स्वायत्तशासी)
                        </p>
                        <p class="card-text" style="color: rgb(255, 255, 255);">सहकारिता
                            मंत्रालय
                            के तहत भारत सरकार
                        </p>
                        <!--<h5 class="card-title pl-15 pr-15" style="color: yellow;">PROJECT
                            OFFICE : YOUTH
                            EMPLOYABILITY
                            SKILL
                            TRAINING
                            CO-OPERATIVE EDUCATION SOCIETY
                            </h5> -->
                        <p class="card-text" style="color: rgb(255, 255, 255);">परियोजना
                            कार्यालय : युवा रोजगार
                            कौशल प्रशिक्षण सहकारी शिक्षा समिति
                        </p>
                    </div>
                </div>
            </div>





            <div class="col-12 col-md-6 col-xl-6 d-flex align-items-stretch mb-5">
                <!-- Card on the right side -->
                <div class="card text-center w-100">
                    <div class="card-body pt-5" style="background-color: #ffffff;">
                        <h4 class="card-title" style="color: rgb(0, 0, 0);">CHIEF EXECUTIVE
                            OFFICER
                        </h4>
                        <h4 class="card-title" style="color: rgb(0, 0, 0);">Regional Office Training Center
                        </h4>
                        <h4 class="card-title" style="color: rgb(0, 0, 0);">Youth Employability Skill Training
                        </h4>
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <div style="width: 100px; height: 3px; background-color: #ffffff; margin-bottom: 10px;">
                            </div>
                            <div style="width: 30px; height: 3px; background-color: #ffffff; margin-bottom: 25px;">
                            </div>
                        </div>

                        <p class="card-text" style="color: rgb(0, 0, 0);">154/20,3rd Floor,Royal Space
                        </p>
                        <p class="card-text" style="color: rgb(0, 0, 0);">D11 5thMain Road,HSR Layout
                        </p>
                        <p class="card-text" style="color: rgb(0, 0, 0);">7th Sector,Bommanahalli
                        </p>
                        <p class="card-text" style="color: rgb(0, 0, 0);">Bangalore,Karnataka 560078
                        </p>
                        <p class="card-text" style="color: rgb(0, 0, 0);">Ph:080 23536305
                        </p>
                        <p class="card-text" style="color: rgb(0, 0, 0);">
                            Email:Officerkarnataka@nationalyouthprogramme.in
                        </p>




                        <h5 class="card-title" style="color: rgb(255, 255, 255);">NATIONAL
                            YOUTH PROGRAMME
                            PROJECT
                            REGIONAL
                            OFFICE
                        </h5>
                        <h5 class="card-title" style="color: rgb(255, 255, 255);">AUTONOMOUS
                            INSTITUITION
                        </h5>
                        <!--<h5 class="card-title pt-3 pl-10 pr-10" style="color: yellow;">UNDER
                            THE AEGIS MINISTRY
                            OF
                            CO-OPERATION
                            GOVERNMENT OF INDIA
                            </h5> -->
                        <!--<h3 class="card-title pt-2 pl-10 pr-10" style="color: yellow;">मुख्य
                            कार्यकारी अधिकारी
                            का कार्यालय
                            </h3> -->
                        <p class="card-text" style="color: rgb(255, 255, 255);">युवा रोजगार
                            कौशल प्रशिक्षण (एम
                            एस सी एस अधिनियम)
                        </p>
                        <p class="card-text" style="color: rgb(255, 255, 255);">राष्ट्रीय
                            युवा कार्यक्रम
                            परियोजना क्षेत्रीय कार्यालय (स्वायत्तशासी)
                        </p>
                        <p class="card-text" style="color: rgb(255, 255, 255);">सहकारिता
                            मंत्रालय
                            के तहत भारत सरकार
                        </p>
                        <!--<h5 class="card-title pl-15 pr-15" style="color: yellow;">PROJECT
                            OFFICE : YOUTH
                            EMPLOYABILITY
                            SKILL
                            TRAINING
                            CO-OPERATIVE EDUCATION SOCIETY
                            </h5> -->
                        <p class="card-text" style="color: rgb(255, 255, 255);">परियोजना
                            कार्यालय : युवा रोजगार
                            कौशल प्रशिक्षण सहकारी शिक्षा समिति
                        </p>
                    </div>
                </div>
            </div>



            <div class="col-12 col-md-6 col-xl-6 d-flex align-items-stretch mb-5">
                <!-- Card on the right side -->
                <div class="card text-center w-100">
                    <div class="card-body pt-5" style="background-color: #ffffff;">
                        <h4 class="card-title" style="color: rgb(0, 0, 0);">CHIEF EXECUTIVE
                            OFFICER
                        </h4>
                        <h4 class="card-title" style="color: rgb(0, 0, 0);">RegionalOfficeTrainingCenter
                        </h4>
                        <h4 class="card-title" style="color: rgb(0, 0, 0);">YouthEmployabilitySkillTraining
                        </h4>
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <div style="width: 100px; height: 3px; background-color: #ffffff; margin-bottom: 10px;">
                            </div>
                            <div style="width: 30px; height: 3px; background-color: #ffffff; margin-bottom: 25px;">
                            </div>
                        </div>
                        <p class="card-text" style="color: rgb(0, 0, 0);">11nd Floor,Revenue Tower
                        </p>
                        <p class="card-text" style="color: rgb(0, 0, 0);">Adoor,Kerala,691523
                        </p>
                        <p class="card-text" style="color: rgb(0, 0, 0);">Ph:04734-227005,292405
                        </p>
                        <p class="card-text" style="color: rgb(0, 0, 0);">Email:Officerkerala@nationalyouthprogramme.in
                        </p>



                        <h5 class="card-title" style="color: rgb(255, 255, 255);">NATIONAL
                            YOUTH PROGRAMME
                            PROJECT
                            REGIONAL
                            OFFICE
                        </h5>
                        <h5 class="card-title" style="color: rgb(255, 255, 255);">AUTONOMOUS
                            INSTITUITION
                        </h5>
                        <!--<h5 class="card-title pt-3 pl-10 pr-10" style="color: yellow;">UNDER
                            THE AEGIS MINISTRY
                            OF
                            CO-OPERATION
                            GOVERNMENT OF INDIA
                            </h5> -->
                        <!--<h3 class="card-title pt-2 pl-10 pr-10" style="color: yellow;">मुख्य
                            कार्यकारी अधिकारी
                            का कार्यालय
                            </h3> -->
                        <p class="card-text" style="color: rgb(255, 255, 255);">युवा रोजगार
                            कौशल प्रशिक्षण (एम
                            एस सी एस अधिनियम)
                        </p>
                        <p class="card-text" style="color: rgb(255, 255, 255);">राष्ट्रीय
                            युवा कार्यक्रम
                            परियोजना क्षेत्रीय कार्यालय (स्वायत्तशासी)
                        </p>
                        <p class="card-text" style="color: rgb(255, 255, 255);">सहकारिता
                            मंत्रालय
                            के तहत भारत सरकार
                        </p>
                        <!--<h5 class="card-title pl-15 pr-15" style="color: yellow;">PROJECT
                            OFFICE : YOUTH
                            EMPLOYABILITY
                            SKILL
                            TRAINING
                            CO-OPERATIVE EDUCATION SOCIETY
                            </h5> -->
                        <p class="card-text" style="color: rgb(255, 255, 255);">परियोजना
                            कार्यालय : युवा रोजगार
                            कौशल प्रशिक्षण सहकारी शिक्षा समिति
                        </p>
                    </div>
                </div>
            </div>




            <div class="col-12 col-md-6 col-xl-6 d-flex align-items-stretch mb-5">
                <!-- Card on the right side -->
                <div class="card text-center w-100">
                    <div class="card-body pt-5" style="background-color: #ffffff;">
                        <h4 class="card-title" style="color: rgb(0, 0, 0);">PUBLIC INFORMATION OFFICER
                        </h4>
                        <h4 class="card-title" style="color: rgb(0, 0, 0);">Course/Affiliation/GeneralEnquiry
                        </h4>
                        <h4 class="card-title" style="color: rgb(0, 0, 0);">YouthEmployabilitySkillTraining
                        </h4>
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <div style="width: 100px; height: 3px; background-color: #ffffff; margin-bottom: 10px;">
                            </div>
                            <div style="width: 30px; height: 3px; background-color: #ffffff; margin-bottom: 25px;">
                            </div>
                        </div>
                        <p class="card-text" style="color: rgb(0, 0, 0);">Email:officer@nationalyouthprogramme.in
                        <p class="card-text" style="color: rgb(0, 0, 0);">Mob:8330843305/Extn-601
                        </p>



                        <h5 class="card-title" style="color: rgb(255, 255, 255);">NATIONAL
                            YOUTH PROGRAMME
                            PROJECT
                            REGIONAL
                            OFFICE
                        </h5>
                        <h5 class="card-title" style="color: rgb(255, 255, 255);">AUTONOMOUS
                            INSTITUITION
                        </h5>
                        <!--<h5 class="card-title pt-3 pl-10 pr-10" style="color: yellow;">UNDER
                            THE AEGIS MINISTRY
                            OF
                            CO-OPERATION
                            GOVERNMENT OF INDIA
                            </h5> -->
                        <!--<h3 class="card-title pt-2 pl-10 pr-10" style="color: yellow;">मुख्य
                            कार्यकारी अधिकारी
                            का कार्यालय
                            </h3> -->
                        <p class="card-text" style="color: rgb(255, 255, 255);">युवा रोजगार
                            कौशल प्रशिक्षण (एम
                            एस सी एस अधिनियम)
                        </p>
                        <p class="card-text" style="color: rgb(255, 255, 255);">राष्ट्रीय
                            युवा कार्यक्रम
                            परियोजना क्षेत्रीय कार्यालय (स्वायत्तशासी)
                        </p>
                        <p class="card-text" style="color: rgb(255, 255, 255);">सहकारिता
                            मंत्रालय
                            के तहत भारत सरकार
                        </p>
                        <!--<h5 class="card-title pl-15 pr-15" style="color: yellow;">PROJECT
                            OFFICE : YOUTH
                            EMPLOYABILITY
                            SKILL
                            TRAINING
                            CO-OPERATIVE EDUCATION SOCIETY
                            </h5> -->
                        <p class="card-text" style="color: rgb(255, 255, 255);">परियोजना
                            कार्यालय : युवा रोजगार
                            कौशल प्रशिक्षण सहकारी शिक्षा समिति
                        </p>
                    </div>
                </div>
            </div>





















        </div>
    </div>

    <div class="container">
        <div class="row">





            <div class="col-12 col-md-6 col-xl-7">
                <div class="widget bg-white shadow contactFormWidget ml-xl-n5 mb-7 mb-md-5">
                    <div class="pt-8 pb-10 px-4 px-md-6 px-xl-8">
                        {% include 'Main/error_messages.html' %}
                        <h2 class="fwSemiBold h3Medium mb-4">Leave your message</h2>
                        <form action="#" class="commentForm" method="post">
                            {% csrf_token %}
                            <div class="row mx-n2">
                                <div class="col-12 col-sm-6 col-md-12 col-lg-6 px-2">
                                    <div class="form-group">
                                        <input value="{{value.full_name}}" type="text"
                                            class="form-control d-block w-100" name="full_name" placeholder="Full Name">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-6 px-2">
                                    <div class="form-group">
                                        <input value="{{value.email}}" type="email" class="form-control d-block w-100"
                                            name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-6 px-2">
                                    <div class="form-group">
                                        <input value="{{value.mobile_number}}" type="text"
                                            class="form-control d-block w-100" name="mobile_number"
                                            placeholder="Mobile Number">
                                    </div>
                                </div>
                                <div class="col-6 px-2">
                                    <div class="form-group">
                                        <input value="{{value.subject}}" type="text" class="form-control d-block w-100"
                                            name="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-12 px-2">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control w-100 d-block"
                                            placeholder="Write your message&hellip;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit"
                                class="btn btnTheme d-flex font-weight-bold text-capitalize position-relative border-0 p-0 mt-2 btnWidthSmall"
                                data-hover="Send Message">
                                <span class="d-block btnText">Send Message</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>































        </div>
    </div>
    <h3 class="text-center pt-7 pb-10">States Where the Project is Currently Underway...</h3>
    <P class="text-center">DELHI,<br>
        MAHI,<br>
        BIHAR,<br>
        HARYANA,<br>
        ANDHRA PRADESH, <br>
        ARUNACHAL <br>
        PRADESH,<br>
        HIMACHAL PRADESH
        GOA <br>
        ASSAM,<br>
        JHARKHAND,<br>
        KERALA,<BR>
        TAMILNADU, <br>
        PUNJAB, <br>
        KARNATAKA</P>
    {% include 'Main/footer.html' %} {% endblock %}