<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Footer Page ------------------------------------------------>
<!--------------------------------------------------------------------------------------------------->
{% load static %}
<div class="ftAreaWrap position-relative background-color: #235A7C; fontAlter" style="padding-top: 20px;">
    <footer id="pageFooter" class="text-center" style=" background-color: #2E3192; pt-6 pb-3 pt-md-8 pb-md-5">
        <div class="container">
            <div class="row pt-22">
                <div class="col-md-3">
                    <h4 class="fwSemiBold mb-3" style="color: white;">KERALA:- CHIEF EXECUTIVE OFFICER /
                        SECRETARY
                    </h4>
                    <ul class="list-unstyled contactInfoList mb-6">
                        <li class="text-left">
                            <i class="fas fa-envelope icn position-absolute" style="color: white;"><span class="
                    sr-only">icon</span></i>
                            youthskilltrainingcooperatives@gmail.com ,
                            nodalofficerkerala@gmail.com
                        </li>
                        <!-- <h4 class="fwSemiBold mb-3" style="color: white; text-align: left;">NEW DELHI:- DIRECTOR
                        /
                        REGIONAL
                        DEPUTY
                        DIRECTOR
                        </h4>
                        <ul class="list-unstyled contactInfoList mb-6">
                            <li class="text-left">
                                <i class="fas fa-map-marker-alt icn position-absolute" style="color: white;"><span
                                        class=" sr-only">icon</span></i>
                                YOUTH EMPLOYABILITY SKILL
                                TRAINING 686A, INDRA PARK, MAIN ROAD PALAM NEW DELHI 45
                            </li>
                            <li class="text-left">
                                <i class="fas fa-envelope icn position-absolute" style="color: white;"><span
                                        class="sr-only">icon</span></i>
                                officer@nationalyouthprogramme.in ,
                                nypregistrar@gmail.com
                            </li>
                        </ul> -->
                </div>
                <div class=" col-md-3">
                    <h4 class="fwSemiBold mb-3" style="color: white; text-align: left;">NEW DELHI:- DIRECTOR
                        /
                        REGIONAL
                        DEPUTY
                        DIRECTOR
                    </h4>
                    <ul class="list-unstyled contactInfoList mb-6">
                        <li class="text-left">
                            <i class="fas fa-map-marker-alt icn position-absolute" style="color: white;"><span
                                    class=" sr-only">icon</span></i>
                            YOUTH EMPLOYABILITY SKILL
                            TRAINING 686A, INDRA PARK, MAIN ROAD PALAM NEW DELHI 45
                        </li>
                        <li class="text-left">
                            <i class="fas fa-envelope icn position-absolute" style="color: white;"><span
                                    class="sr-only">icon</span></i>
                            officer@nationalyouthprogramme.in ,
                            nypregistrar@gmail.com
                        </li>
                    </ul>

                </div>
                <div class="col-md-3">
                    <h4 class="fwSemiBold mb-3" style="color: white; text-align: left;">REGIONAL DIRECTOR
                        /REGIONAL
                        OFFICER /STATE
                        NODAL OFFICER
                    </h4>
                    <strong class="font-weight-normal d-block text-left">KERALA, TAMILNADU, PUNJAB, DELHI<br> MAHI,
                        BIHAR,
                        HARYANA<br> ANDHRA PRADESH, ARUNACHAL PRADESH<br> HIMACHAL PRADESH, GOA<br> ASSAM,
                        JHARKHAND</strong>
                    <h4 class=" fwSemiBold mb-3 mt-3" style=" color: white;">Opening Hours</h4>
                    <strong class="font-weight-normal d-block text-left">Office Working Time : Monday –
                        Friday
                        (9:30
                        AM
                        to
                        5:30 PM)</strong>
                    <!-- <h4 class="fwSemiBold mb-3" style="color: white;">TAMILNADU:- CHIEF EXECUTIVE OFFICER /
                        SECRETARY
                        </h4>
                        <ul class="list-unstyled contactInfoList mb-6">
                            <li class="text-left">
                                <i class="fas fa-envelope icn position-absolute" style="color: white;"><span class="
                       sr-only">icon</span></i>
                                youthskilltrainingcooperative@gmail.com , nyptamilnadu@gmail.com
                            </li>
                        </ul> -->
                </div>
                <div class="col-md-3">
                    <h4 class="fwSemiBold mb-3" style="color: white;">TAMILNADU:- CHIEF EXECUTIVE OFFICER /
                        SECRETARY
                    </h4>
                    <ul class="list-unstyled contactInfoList mb-6">
                        <li class="text-left">
                            <i class="fas fa-envelope icn position-absolute" style="color: white;"><span class="
                       sr-only">icon</span></i>
                            youthskilltrainingcooperative@gmail.com , nyptamilnadu@gmail.com
                        </li>
                    </ul>
                    <!-- <h4 class="fwSemiBold mb-3" style="color: white; text-align: left;">REGIONAL DIRECTOR
                        /REGIONAL
                        OFFICER /STATE
                        NODAL OFFICER
                        </h4>
                        <strong class="font-weight-normal d-block text-left">KERALA, TAMILNADU, PUNJAB, DELHI, MAHI,
                            BIHAR,
                            HARYANA, ANDHRA PRADESH, ARUNACHAL PRADESH, HIMACHAL PRADESH, GOA, ASSAM,
                            JHARKHAND</strong>
                        <h4 class=" fwSemiBold mb-3 mt-3" style=" color: white;">Opening Hours</h4>
                        <strong class="font-weight-normal d-block text-left">Office Working Time : Monday – Friday
                            (9:30
                            AM
                            to
                            5:30 PM)</strong> -->
                </div>
            </div>
            <p style="margin-top: 65px; padding-bottom: 60px;">© COPYRIGHT - 2020-2023 National Youth Programme. -
                Designed
                & Developed by
                <a target="_blank" style="text-decoration: none;color: rgb(255, 238, 0);"
                    href="https://www.techzniczone.com/">Techzniczone</a>
            </p>
            <h4 style="color: white;">Total Visitors : {{count}}</h4>
        </div>
    </footer>







</div>