<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Latest Updates Page ---------------------------------------->
<!--------------------------------------------------------------------------------------------------->
{% extends 'Main/base.html' %}
{% block main_content %}
{% load static %}
<div class="phStickyWrap">
    {% include 'Main/header.html' %}
</div>

<header class="headingHead text-center mb-12 mt-16">
    <h2 class="fwSemiBold">LATEST UPDATES</h2>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;"></div>
        <div style="width: 30px; height: 3px; background-color: #3446CD;"></div>
    </div>
</header>
<div class="pt-7 pb-6 pt-lg-11 pb-lg-9 pt-xl-14 pb-xl-12">
    {% for nw in get_all_news %}
    <article class="ueEveColumn__list position-relative px-4 py-3 px-lg-8 py-lg-6">
        <div class="d-lg-flex align-items-md-center">
            <time datetime="2011-01-12"
                class="uecTime text-black fontAlter text-uppercase flex-shrink-0 mr-4 mr-lg-6 d-block mb-2 mb-lg-0">
                <span style="font-size: 18px;" class="textLarge">{{nw.news_date}}
            </time>
            <div class="d-md-flex align-items-md-center flex-grow-1">
                <div class="descrWrap flex-grow-1">
                    <strong class="tagTitle d-block fwSemiBold mb-2" style="color: black;">{{nw.news_description}}
                    </strong>
                </div>
                <a href="javascript:void()"
                    class="btn btnCustomLightOutline bdrWidthAlter btn-sm text-capitalize position-relative border-0 p-0 flex-shrink-0 ml-md-4"
                    data-hover="More Details">
                    <span class="d-block btnText">More Details</span>
                </a>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center pt-2 pb-18">
        <li class="page-item">
            <a class="page-link" href="#">See All Updates <i class="fas fa-chevron-right icn"><span
                        class="sr-only">icon</span></i></a>
        </li>
    </ul>
</nav>

{% include 'Main/footer.html' %}
{% endblock %}