<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- New Details Page ------------------------------------------->
<!--------------------------------------------------------------------------------------------------->
{% extends 'Main/base.html' %}
{% block main_content %}
{% load static %}
<div class="phStickyWrap">
   {% include 'Main/header.html' %}
</div>
<article class="newsSingleWrap pt-7 pb-2 pt-md-9 pb-md-4 pt-lg-14 pb-lg-8 pt-xl-22 pb-xl-13">
   <div class="container">
   <div class="row">
   <div class="col-12 col-lg-8 col-xl-9 mb-6">
      <div class="pr-xl-14">
         <header class="nrcHead">
            <h2 class="h2vii fwSemiBold mb-5">29 July,2023</h2>
         </header>
         <p>നാഷണൽ യൂത്ത് പ്രോഗ്രാം 2022- ഡിസംബർ മാസം നടത്തിയ വിവിധ സർട്ടിഫിക്കറ്റ് /ഡിപ്ലോമ /പിജി ഡിപ്ലോമ /അഡ്വാൻസ്ഡ് ഡിപ്ലോമ പരീക്ഷകളുടെ റിസൾട്ട്‌ പ്രഖ്യാപിച്ചു. സ്റ്റുഡന്റസ് സർട്ടിഫിക്കറ്റ് വെരിഫിക്കേഷൻ പേജിൽ രജിസ്റ്റർ നമ്പർ നൽകി റിസൾട്ട്‌ പരിശോധിക്കാവുന്നതാണ്</p>
      </div>
   </div>
</article>
</main>
{% include 'Main/footer.html' %}
{% endblock %}