<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Sectors Page ----------------------------------------------->
<!--------------------------------------------------------------------------------------------------->
{% extends 'Main/base.html' %}
{% block main_content %}
{% load static %}
<div class="phStickyWrap">
    {% include 'Main/header.html' %}
</div>
<section class="exploreHeightsBlock pt-4 pb-6 pb-md-9 pt-lg-7 pb-lg-14 pt-xl-11 pb-xl-20" id="sector">
    <div class="container">
        <header class="headingHead text-center mb-12">
            <h2 class="fwSemiBold">OUR SECTORS</h2>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;"></div>
                <div style="width: 30px; height: 3px; background-color: #3446CD;"></div>
            </div>

        </header>
    </div>
    <div class="row">
        <div class="echSliderWrap overflow-hidden w-100">
            <div class="echSlider mx-auto w-100">
                <div>
                    <div class="col-12">
                        <div class="echColumn d-block w-100 bgCover position-relative"
                            style="background-image: url({% static 'main/images/homepage/sectors/1.png' %});">
                            <div class="echcCaptionWrap position-absolute w-100 text-white px-3 py-2 px-sm-5 py-sm-4">
                                <h3 class="mb-0 text-white">

                                    <span class="d-block">Information Technology</span>
                                </h3>
                                <a href="" class="d-inline-block"><i
                                        class="rounded-circle fa fa-arrow-right d-flex align-items-center justify-content-center bg-white text-dark spanLinkGo"><span
                                            class="sr-only">icon</span></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-12">
                        <div class="echColumn d-block w-100 bgCover position-relative"
                            style="background-image: url({% static 'main/images/homepage/sectors/2.png' %});">
                            <div class="echcCaptionWrap position-absolute w-100 text-white px-3 py-2 px-sm-5 py-sm-4">
                                <h3 class="mb-0 text-white">

                                    <span class="d-block">Beauty</span>
                                </h3>
                                <a href="" class="d-inline-block"><i
                                        class="rounded-circle fa fa-arrow-right d-flex align-items-center justify-content-center bg-white text-dark spanLinkGo"><span
                                            class="sr-only">icon</span></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-12">
                        <div class="echColumn d-block w-100 bgCover position-relative"
                            style="background-image: url({% static 'main/images/homepage/sectors/3.png' %});">
                            <div class="echcCaptionWrap position-absolute w-100 text-white px-3 py-2 px-sm-5 py-sm-4">
                                <h3 class="mb-0 text-white">

                                    <span class="d-block">Retail</span>
                                </h3>
                                <a href="" class="d-inline-block"><i
                                        class="rounded-circle fa fa-arrow-right d-flex align-items-center justify-content-center bg-white text-dark spanLinkGo"><span
                                            class="sr-only">icon</span></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-12">
                        <div class="echColumn d-block w-100 bgCover position-relative"
                            style="background-image: url({% static 'main/images/homepage/sectors/4.png' %});">
                            <div class="echcCaptionWrap position-absolute w-100 text-white px-3 py-2 px-sm-5 py-sm-4">
                                <h3 class="mb-0 text-white">

                                    <span class="d-block">Health Care</span>
                                </h3>
                                <a href="" class="d-inline-block"><i
                                        class="rounded-circle fa fa-arrow-right d-flex align-items-center justify-content-center bg-white text-dark spanLinkGo"><span
                                            class="sr-only">icon</span></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-12">
                        <div class="echColumn d-block w-100 bgCover position-relative"
                            style="background-image: url({% static 'main/images/homepage/sectors/5.png' %});">
                            <div class="echcCaptionWrap position-absolute w-100 text-white px-3 py-2 px-sm-5 py-sm-4">
                                <h3 class="mb-0 text-white">

                                    <span class="d-block">Electronics</span>
                                </h3>
                                <a href="" class="d-inline-block"><i
                                        class="rounded-circle fa fa-arrow-right d-flex align-items-center justify-content-center bg-white text-dark spanLinkGo"><span
                                            class="sr-only">icon</span></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-12">
                        <div class="echColumn d-block w-100 bgCover position-relative"
                            style="background-image: url({% static 'main/images/homepage/sectors/6.png' %});">
                            <div class="echcCaptionWrap position-absolute w-100 text-white px-3 py-2 px-sm-5 py-sm-4">
                                <h3 class="mb-0 text-white">

                                    <span class="d-block">Electricals</span>
                                </h3>
                                <a href="" class="d-inline-block"><i
                                        class="rounded-circle fa fa-arrow-right d-flex align-items-center justify-content-center bg-white text-dark spanLinkGo"><span
                                            class="sr-only">icon</span></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'Main/footer.html' %}
{% endblock %}