<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Skill Photos Page ------------------------------------------>
<!--------------------------------------------------------------------------------------------------->
{% extends 'Main/base.html' %}
{% block main_content %}
{% load static %}
<div class="phStickyWrap">
    {% include 'Main/header.html' %}
</div>
<section class="exploreServicesBlock position-relative pt-7 pt-md-12 pt-lg-16 pt-xl-20 pb-0 pb-md-4 pb-lg-8 pb-xl-12"
    style="
 background-color: #ffffff;">
    <div class="container">
        <header class="headingHead mb-7 md-md-9 mb-lg-13">
            <div class="row align-items-end">
                <div class=" col-12 col-sm-7 col-xl-5">
                    <h2 class="mb-0">FREE SKILL TRAINING</h2>
                    <h5 class="mb-0">GALLERY</h5>
                    <div
                        style="width: 100px; height: 3px; background-color: #3446CD; margin-top: 10px; margin-bottom: 10px;">
                    </div>
                    <div
                        style="width: 30px; height: 3px; background-color: #3446CD; margin-top: 10px; margin-bottom: 10px;">
                    </div>

                </div>


            </div>
        </header>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <article class="esColumn position-relative text-center mb-13">
                    <span class="imgHolder d-block w-100 bgCover"
                        style="background-image: url({% static 'main/images/homepage/5.png' %});"></span>
                </article>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <article class="esColumn position-relative text-center mb-13">
                    <span class="imgHolder d-block w-100 bgCover"
                        style="background-image: url({% static 'main/images/homepage/6.png' %});"></span>
                </article>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <article class="esColumn position-relative text-center mb-13">
                    <span class="imgHolder d-block w-100 bgCover"
                        style="background-image: url({% static 'main/images/homepage/7.png' %});"></span>
                </article>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <article class="esColumn position-relative text-center mb-13">
                    <span class="imgHolder d-block w-100 bgCover"
                        style="background-image: url({% static 'main/images/homepage/Eight.jpg' %});"></span>
                </article>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <article class="esColumn position-relative text-center mb-13">
                    <span class="imgHolder d-block w-100 bgCover"
                        style="background-image: url({% static 'main/images/homepage/Nine.jpg' %});"></span>
                </article>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <article class="esColumn position-relative text-center mb-13">
                    <span class="imgHolder d-block w-100 bgCover"
                        style="background-image: url({% static 'main/images/homepage/Ten.jpg' %});"></span>
                </article>
            </div>

        </div>
    </div>
</section>
{% include 'Main/footer.html' %}
{% endblock %}