<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Slider Page ------------------------------------------------>
<!--------------------------------------------------------------------------------------------------->
{% load static %}
<div class="introBlock ibSlider">
   <div>
      <article class="d-flex w-100 position-relative ibColumn text-white overflow-hidden">
         <div class="alignHolder d-flex align-items-center w-100">
            <div class="align w-100 pt-20 pb-20 pt-md-40 pb-md-30 px-md-17">
               <div class="container position-relative">
                  <div class="row">
                  </div>
               </div>
            </div>
         </div>
         <span class="ibBgImage bgCover position-absolute" style="background-image: url({% static 'main/images/homepage/slider.png' %});"></span>
      </article>
   </div>
   <div>
      <article class="d-flex w-100 position-relative ibColumn text-white overflow-hidden">
         <div class="alignHolder d-flex align-items-center w-100">
            <div class="align w-100 pt-20 pb-20 pt-md-40 pb-md-30 px-md-17">
               <div class="container position-relative">
                  <div class="row">
                  </div>
               </div>
            </div>
         </div>
         <span class="ibBgImage bgCover position-absolute" style="background-image: url({% static 'main/images/homepage/slider2.png' %});"></span>
      </article>
   </div>
   <div>
      <article class="d-flex w-100 position-relative ibColumn text-white overflow-hidden">
         <div class="alignHolder d-flex align-items-center w-100">
            <div class="align w-100 pt-20 pb-20 pt-md-40 pb-md-30 px-md-17">
               <div class="container position-relative">
                  <div class="row">
                  </div>
               </div>
            </div>
         </div>
         <span class="ibBgImage bgCover position-absolute" style="background-image: url({% static 'main/images/homepage/slider3.png' %});"></span>
      </article>
   </div>
</div>
<aside class="featuresAsideBlock position-relative text-white">
   <div class="container">
   </div>
   <div class="fabBtNoteTextWrap text-center fontAlter fzMedium pt-6 pt-md-10 pb-6 pb-md-10 pb-lg-14">
      <div class="container">
         <img width="80%" src="{% static 'main/images/homepage/17.png' %}" class="img-fluid text-center ml-5" alt="egovt">
         <div class="d-lg-flex justify-content-center align-items-center mt-4">
            <p class="mb-lg-0">Youth Skill Development Project, A Govt Grant-in-aid Autonomous Education and Training Institution
               Run By : Society for Development of Technical and Vocational Education, New Delhi Reg Under Department of Labour of NCT
            </p>
         </div>
      </div>
   </div>
</aside>