<!--
   Made By -: Techzniczone
   website - :https://www.techzniczone.com/
   email - :techzniczone@gmail.com
   -->
<!-------------------------------------- Add E OFFICE STUDENT ADMISSION REGISTER Page --------------->
<!--------------------------------------------------------------------------------------------------->
{% extends 'Main/base.html' %} {% block main_content %} {% load static %}
<div class="phStickyWrap">
    {% include 'Main/header.html' %}
</div>

<body>
    <div class="d-lg-flex">
        <div class="container mb-16">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-6 py-5 pt-15">
                    <center>
                        <h3>E OFFICE STUDENT ADMISSION REGISTER</h3>

                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <div style="width: 100px; height: 3px; background-color: #3446CD; margin-bottom: 10px;">
                            </div>
                            <div style="width: 30px; height: 3px; background-color: #3446CD; margin-bottom: 55px;">
                            </div>
                        </div>
                    </center>
                    <!-- <center>
                  <p class="mb-4">Error Message Comes Here</p>
                  </center> -->
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/e_office_student_register" class="btn px-5 btn-primary"
                                style="background-color: #3446CD;">Exam Registration</a>
                        </div>
                        <div class="col-md-3">
                            <a href="/e_office_mark_list_registration" class="btn px-5 btn-primary"
                                style="background-color: #3446CD;">Mark List Registration</a>
                        </div>
                        <div class="col-md-3">
                            <a href="/e_office_student_admisiion_registration" class="btn px-5 btn-primary"
                                style="background-color: #3446CD;">Admission Registration</a>
                        </div>
                        <div class="col-md-3">
                            <a href="/e_office_student_add_on_programme" class="btn px-5 btn-primary"
                                style="background-color: #3446CD;">Add-On Programme (College)</a>
                        </div>
                    </div>
                    <section class="bg-light mt-5">
                        <div class="table-responsive" id="no-more-tables">
                            <table class="table bg-white">
                                <thead class="bg-dark text-light">
                                    <tr>
                                        <th>YEAR</th>
                                        <th>COLLEGE NAME</th>
                                        <th>COURSE NAME</th>
                                        <th>STUDENT NAME</th>
                                        <th>MOBILE NUMBER</th>
                                        <th>ID NUMBER</th>
                                        <th>REGISTRATION NUMBER</th>
                                        <th>PRINCIPLE APPROVAL (ADMISSION)</th>
                                        <th>STATUS</th>
                                        <th>MONTH</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Saving</td>
                                        <td>00011</td>
                                        <td>Affiliation Renewal</td>
                                        <td></td>
                                        <td>05/07/2021</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <script src="{% static 'forms/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'forms/js/popper.min.js' %}"></script>
        <script src="{% static 'forms/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'forms/js/main.js' %}"></script>
        {% endblock %}
    </div>
</body>